<h1>User Profile</h1>
<hr />
<p><b>Email: </b><%= @user.email %></p>
<hr />
<h2>User's To-do Items(total: <%= @user.items.count %>)</h2>

<div id="user-items">
  <%= render partial: 'items/item_list'%>
</div>

<hr />
<h2>Create new Item</h2>

<%= render partial: 'items/form'%>
